@page "/reset-password"
@layout LoginLayout

<PageTitle>Reset password</PageTitle>

@if (IsPasswordReset)
{
    <div style="height: 75vh; padding-top: 25vh">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="3">
                <MudCard style="background-color: transparent; box-shadow: none;">
                    <MudCardHeader Style="z-index: 1">
                        <CardHeaderContent>
                            <MudText Align="Align.Right" Typo="Typo.h6">You're passwod has been reset!</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardActions>
                        <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Goto start page</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </div>
}
else
{
    <div style="height: 75vh; padding-top: 25vh">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="3">
                <MudCard style="background-color: transparent; box-shadow: none;">
                    <MudCardHeader Style="z-index: 1">
                        <CardHeaderContent>
                            <MudText Align="Align.Right" Typo="Typo.h6">You're password has not been reset!</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardActions>
                        <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Goto start page</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </div>
}