@inherits LayoutBase
@using Askstatus.Web.App.Themes
<MudThemeProvider Theme="AskStatusThemes.Flatlytheme" />
<MudPopoverProvider />
<MudDialogProvider BackdropClick="false" />
<MudSnackbarProvider />

<MudLayout>
@*     <MudAppBar>
        <MudGrid Justify="Justify.Center" Style="margin-top:0; margin-left: 0;">
                <MudText Align="Align.Center" Typo="Typo.h4">Askstatus</MudText>
        </MudGrid>
    </MudAppBar>
 *@    <MudMainContent>
        <div id="loginbg"/>
        <div class="content" style="padding-bottom:60px">
            @Body
        </div>
    </MudMainContent>
    <MudAppBar Elevation="1" Style="top: auto; bottom: 0" Dense="true" Fixed="true">
        <MudGrid Justify="Justify.Center" Style="margin-top:0; margin-left: 0;">
            <MudText>© @Year - <a style="color: white" href="http://promarmic.se" rel="nofollow" target="_blank">Askstatus</a> Version @Version @AspDotnetVersion</MudText>
        </MudGrid>
    </MudAppBar>
</MudLayout>
