# This workflow will build and deploy a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Deploy

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      environment_tag:
        description: 'Enter Tag'     
        required: true
        default: 'v0.0.0'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-project:
    name: Build Project
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Checkout and Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - run: dotnet workload install wasm-tools-net8
    - run: dotnet workload install wasm-tools-net9
    - name: Restore dependencies
      run: dotnet restore
    - name: Run Publish Backend
      run: dotnet publish ./Askstatus.Web.API/Askstatus.Web.API.csproj -c Release -o ./dotnet-app/backend --runtime linux-arm64 --self-contained true
    - name: Run Publish Frontend
      run: dotnet publish ./Askstatus.Web.App/Askstatus.Web.App.csproj -c Release -o ./dotnet-app/frontend --runtime browser-wasm --self-contained true
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: application-artifacts
        path: dotnet-app/

  release-project:
    name: Release Project
    runs-on: ubuntu-latest
    needs: build-project
    steps:
    - name: Download content
      uses: actions/download-artifact@v4
      with:
        name: application-artifacts
    - name: Archive site content
      uses: thedoctor0/zip-release@0.7.6
      with:
        type: 'zip'
        filename: release.zip
    - name: Upload Release
      uses: ncipollo/release-action@v1.15.0
      with:
        artifacts: "release.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: ${{ github.sha }}
        tag: "${{ github.event.inputs.environment_tag }}"
        name: "Release of Askstatus ${{ github.event.inputs.environment_tag }}"
        generateReleaseNotes: true
          
